body {
    overflow: hidden;
    /* will become visible after preload */
    font-family: Ubuntu, "times new roman", times, roman, serif;
    overscroll-behavior: none;
}

/*  Navbar */
.navbar {
    z-index: 1000;
}

/* @media screen and (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }
} */
.navbar, .navbar-collapse, .dropdown-menu {
    background: #00000000;
    border-color: #00000000;
    border-width: 0px;
    margin-bottom: 0px;
}

.nav-link, .navbar-brand, .dropdown-toggle {
    color: #ffffff !important;
    background-color: #00000000 !important;
    cursor: pointer;
}

.navbar-brand:hover, .nav-link:hover, .dropdown-toggle:hover {
    color: #93def1 !important;
    background: #00000000;
}

.gradient-background-overlay {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
}

.gradient-background-overlay:before {
    content: "";
    position: absolute;
    height: 200px;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}

/* slick carousel  */
.slick-dots {
    position: absolute;
    bottom: 20px;
    width: 50%;
    padding: 10;
    margin-left: 25%;
    margin-right: 25%;
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.slick-dots li {
    cursor: pointer;
    text-align: center;
    display: inline;
    opacity: 0.3;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.slick-dots li:first-child {
    text-align: left;
}

.slick-dots li:last-child {
    text-align: right;
}

.slick-dots li img {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.slick-dots li:hover, .slick-dots li.slick-active {
    opacity: 0.8 !important;
}

.item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -10;
}

/*  Preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99;
}

#sk-cube-grid {
    position: fixed;
    width: 40px;
    height: 40px;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
}

#sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #93def1;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

#sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

#sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

#sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

#sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

#sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}
